body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 30px;
  color: #003366;
  padding: 25px 50px 25px;
  text-align: center;

  background: linear-gradient(135deg, #ffb6b9, #f9a8d4);
  background-size: 9.375rem 4.5rem;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='150' height='72' font-size='30' opacity='0.3'><text x='0' y='40'>%F0%9F%8C%AD</text><text x='50' y='40'>%F0%9F%8D%9F</text><text x='100' y='40'>%F0%9F%A5%A4</text></svg>");
}

h2 {
  font-family: "Fredoka One", cursive;
  font-size: 2.5rem;
  color: #003366;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: lightpink;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  
}
label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}
input, button {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
}

button.submit:hover {
  background-color: darkorange;
  transform: scale(1.05);
  transition: 0.2s;
}

.submit{
  background-color: coral;
  
}

#output img {
  margin-top: 10px;
  width: 200px;  /* adjust size if needed */
}

#orderForm {
  width: 80%; /* Or any desired width for the container */
  margin: 0 auto; /* Centers the container horizontally */
  border: 1px solid #ccc; /* Optional: for visual reference */
  padding: 30px; /* Optional: for spacing */
}

#output {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f8a45a ;
  text-align:inherit;
}

/* Responsive design */
@media (max-width: 768px) {
  .nav-container {
      flex-direction: column;
      gap: 20px;
  }
}
